@import "tailwindcss";


/* // for animation  */
/* @keyframes move {
  from {
    transform: translateX(0%);
    border-radius: none;
    background-color: red;
  }
  to {
    transform: translateX(100%);
    border-radius: 50%;
    background-color: blue;
  }
} */


/* we can set the default breakpoint value and can also declare our own breakpoint */
/* @theme {
  --breakpoint-md: 700px;
  --breakpoint-own: 800px;
  --margin-4: 10px;
  --margin-c-10: 30px;
  --padding-3: 5px;
  --padding-c-3: 50px;
  --height-10: 100px;
  --height-c-10: 10px;
  --size-40: 20px;
  --size-c-20: 100px;
} */


/* // directive  */
/* @layer base {
  h1 {
    font-size: 2rem;
  }
  button {
    padding: 4px;
    margin: 1px;
    border: 1px solid black;
  }
} */

/* @layer base{
  h1{
    @apply text-2xl
  }
  button{
    @apply p-1;
    @apply m-1;
    @apply border;
  }
} */


/* // we can add custom classes like this */
/* @layer components{
  .btn-primary{
    @apply bg-blue-500 text-white rounded hover:bg-blue-700 p-2 hover:-translate-y-1 transition duration-1000
  }
}

.btn-secondary{
  @apply bg-green-600 text-white p-2 rounded hover:bg-orange-700
}

.heading-3{
  @apply bg-yellow-700 text-white p-1
}

@layer components{
  .paragraph{
    @apply text-white bg-green-500 rounded p-1 mt-10
  }
} */

/* @layer components{
  .btn{
    @apply border rounded px-4 py-1.5 hover:bg-slate-100
  }
  .btn-primary{
    @apply border rounded px-4 py-1.5 text-white border-blue-400 bg-blue-500 hover:bg-blue-600
  }
  .btn-secondary{
    @apply border rounded px-4 py-1.5 text-white border-slate-400 bg-slate-500 hover:bg-slate-600
  }
  .btn-success{
    @apply border rounded px-4 py-1.5 text-white border-green-400 bg-green-500 hover:bg-green-600
  }
  .btn-danger{
    @apply border rounded px-4 py-1.5 text-white border-red-400 bg-red-500 hover:bg-red-600
  }
  .btn-warning{
    @apply border rounded px-4 py-1.5 text-black border-yellow-400 bg-yellow-500 hover:bg-yellow-600
  }
  .btn-info{
    @apply border rounded px-4 py-1.5 text-white border-cyan-400 bg-cyan-500 hover:bg-cyan-600
  }
  .btn-dark{
    @apply border rounded px-4 py-1.5 text-white border-black bg-black hover:bg-black
  }
} */

/* @theme{
--font-family:"Roboto", sans-serif;
} */